.books.clearfix
  =link_to "TOP", "/",class: "top"
  .mokuji-nal もくじへ
  .book
    .table-content
      .bookcover.about
      .mokuji
        %h2 ~~もくじ~~
        %ul
          %p.intaladuction ・自己紹介
          %p.kanren ・関連情報
          %p.skil ・スキル
        %i.fas.fa-angle-right.fa-4x.right1

    .content-1.mokujihe
      .page1
        .about-messe
          %h2 自己紹介
          %p 名前: 湯川 淳輝
          %br
          %p 生年月日: 1999/12/15 (19)
          %br
          %p 血液型: 不明(多分O型)
          %br
          %p 好きな食べ物: (生のトマト以外なら)
          %br
          %p 好きな漫画: 東京グール、七つの大罪など戦闘シーンが派手でかっこいいやつ。
          %br
          %p 経歴
          %br
          %p 偏差値50ぐらいの普通の高校を卒業した後、大学には進学せずに自分のやりたいことをやってきました。
          %p 具体的にやっていたことは副業でアフィリ、転売、fxをやっていました。
          %br
          %p しかし、目先のお金のことばかり追いかけていて実際に人の役に立ちたいなど思いもせず、
          どうでもいいクソ記事を毎日更新してはうまく行かず、転売も全然できずに辞め、
          fxもロスカットで4万円ほど溶かして終了。

        %i.fas.fa-angle-left.fa-4x.left1
      .page2
        .about-messe
          %p その後、「自分ダメダメじゃん...」とかなり絶望し、バイトをやめ家に1~2ヶ月間引きこもりに。
          %p でも何かしら行動しないと何も生まれない!!と思い、チャリで15分ほどかけて大きな本屋さんに行き、なけなしのお金2万5千円分の本を購入しました。
          そして家に引きこもり朝から晩までとにかく本を読む生活を送りました。
          =image_tag 'books.jpeg',size: '300x200',class: 'img'
          %br
          %p 本を読んでいくうちに、考え方がポジティブになり、あらゆるところからやる気が満ち溢れてきました。(買った本の中で一番のお気に入りは「嫌われる勇気」)

        %i.fas.fa-angle-right.fa-4x.right2
    .content-2.mokujihe
      .page1
        .about-messe
          %p 本からは本当にたくさんのことを学ばさせていただきました。
          %p ・PDCAの大切さ。個人でも団体でも通用するPDCA。中でも一番大事かなと思っているのはCの検証。
          %p ・依存ではなく自立。主体的であることの大切さ。
          %p ・効率よりもまずは行動、継続、量。
          %p ・人が幸せを感じるのは他者に貢献できたと思えた時。
          %p ・WinWinの関係を築く。
          %p ・課題の分離
          %p ・人は強い目標があればナビのように目的地までいくことができる。
          %p ・新しいことに挑戦するたびに成長できる。
          %p などなどです。
          %br
          %p (定期的に本屋に立ち寄って気になる本はついつい買ってしまいます。ただ買っただけで読んでない本も結構あるので消化する前に買うのは今後気をつけていこうかなと思っています。笑)
          %br 
          %br
          %p それから引越しのバイトを2ヶ月やり50万円貯め、プログラミングスクールに通うことになりました。

        %i.fas.fa-angle-left.fa-4x.left2
      .page2
        .about-messe
          %p プログラミングをやろうと思ったきっかけは、アフィリエイトをやっていた時にhtml,cssをほんの少しだけ触ったことがあって知っていたから。
          %p 時代を先駆けていく企業はどこもインターネット関連で、特に今後は人工知能やロボット工学が盛り上がっていくだろうと感じたから。
          %p エンジニアが不足しているかつ仕事の単価も平均的に高いと感じたので、仕事にして金銭的精神的な余裕を持ちたいと思ったから。
          %br
          %p 主な理由はこの3つです。
          %br
          %p 初めは独学でやってみようと思い、ドットインストールや本でRubyの勉強をはじめました。
          %p ターミナルにhello worldを出力させたり、四則演算を使って計算してみたりしましたが、、、
          %p これがどう仕事になるのか全くわかりませんでした。
          %p どういうルートで勉強していけばいいのか、何を勉強していけばいいのかが全くわからずに勉強していてとても恐怖を感じました。
          %p こんなんじゃいつまでもたっても仕事にならん!！お金よりも時間の方が大切!!
          %p そう思い、短期的に最短ルートで学ぶことができると感じたプログラミングスクールに通うことを決意しました。

        %i.fas.fa-angle-right.fa-4x.right3
    .content-3.mokujihe
      .page1
        .about-messe
          %p プログラミングスクールでは1日平均9時間ぐらい勉強していました。
          %p 初めは全くわからなかったのでひたすらに新しいことを吸収していきました。
          %p スクールのカリキュラムは結構キツキツで1日もサボることはできません。
          %br
          %p 結構お高い受講費用、綺麗で落ち着く教室、キツキツなカリキュラム、ここで頑張んなきゃいつ頑張るんだという心の葛藤。
          %p それらが作用し、最高な勉強環境が整っていました。そして実際にとても勉強に集中することができました。
          %br 
          %p 個人アプリを作ったり、チームでメルカリを作ったりして、技術も自身もどんどんつけることができました。
          %p 毎日行う瞑想や、アウトプットの時間、丁寧に教えてくれるメンターさんも最高に効果的でした。
          =image_tag 'kyousitu.jpg',size: '300x150'

        %i.fas.fa-angle-left.fa-4x.left3
      .page2
        .about-messe
          %p 周りにも恵まれ、高め合える仲間や親身に接してくれるライフコーチの方のおかげでさらにやる気に火がつきました。
          %p そして2ヶ月前にできなかったことがたくさんできるようになり無事卒業いたしました。😄
          =image_tag 'member.jpg', size: '300x200'
          %p (水色の服が僕です)
          %br
          %br
          %p そして今に至ります。
          %br
          %p 近い将来、たくさんの人に貢献できる何か大きなことをやりたいです。

        %i.fas.fa-angle-right.fa-4x.right4

    .content-4.mokujihe
      .page1
        .about-messe
          %h2 関連情報
          %p 携帯電話
          %p 080-5473-0768
          %br
          %p メールアドレス
          %p atsuki.yukawa1100@gmail.com
          %br
          %p github
          =link_to 'https://github.com/atsuki1100', 'https://github.com/atsuki1100', style: 'display: block;'
          %br
          %p Twitter
          =link_to 'https://twitter.com/atuki_freelance', 'https://twitter.com/atuki_freelance', style: 'display: block;'
          %br
          %p ブログ
          =link_to 'https://atuki1100.hatenablog.com/archive/2019', 'https://atuki1100.hatenablog.com/archive/2019', style: 'display: block;'
          %br Qiita
          =link_to 'https://qiita.com/atuki_freelance', 'https://qiita.com/atuki_freelance', style: 'display: block;'

        %i.fas.fa-angle-left.fa-4x.left4
      .page2
        .about-messe
          %h2 スキル

        %i.fas.fa-angle-right.fa-4x.right5

    .content-5.mokujihe
      .page1
        .about-messe
        %i.fas.fa-angle-left.fa-4x.left5
      .page2
        .about-messe
        %i.fas.fa-angle-right.fa-4x.right6
      
    .afterword.mokujihe
      .atogaki
        %p あとがき
        %i.fas.fa-angle-left.fa-4x.left6
      .bookcover.about