.books.clearfix
  =link_to "TOP", "/",class: "top"
  .mokuji-nal ã‚‚ãã˜ã¸
  .book
    .table-content
      .bookcover.about
        .about_text about
      .mokuji
        %h2 ~~ã‚‚ãã˜~~
        %ul
          %p.intaladuction ãƒ»è‡ªå·±ç´¹ä»‹
          %p.kanren ãƒ»é–¢é€£æƒ…å ±
          %p.skil ãƒ»ã‚¹ã‚­ãƒ«
        %i.fas.fa-angle-right.fa-4x.right1

    .content-1.mokujihe
      .page1
        .about-messe
          %h2 è‡ªå·±ç´¹ä»‹
          %p åå‰: æ¹¯å· æ·³è¼
          %br
          %p ç”Ÿå¹´æœˆæ—¥: 1999/12/15 (19)
          %br
          %p è¡€æ¶²åž‹: ä¸æ˜Ž(å¤šåˆ†Oåž‹)
          %br
          %p å¥½ããªé£Ÿã¹ç‰©: (ç”Ÿã®ãƒˆãƒžãƒˆä»¥å¤–ãªã‚‰)
          %br
          %p å¥½ããªæ¼«ç”»: æ±äº¬ã‚°ãƒ¼ãƒ«ã€ä¸ƒã¤ã®å¤§ç½ªãªã©æˆ¦é—˜ã‚·ãƒ¼ãƒ³ãŒæ´¾æ‰‹ã§ã‹ã£ã“ã„ã„ã‚„ã¤ã€‚
          %br
          %p çµŒæ­´
          %br
          %p åå·®å€¤50ãã‚‰ã„ã®æ™®é€šã®é«˜æ ¡ã‚’å’æ¥­ã—ãŸå¾Œã€å¤§å­¦ã«ã¯é€²å­¦ã›ãšã«è‡ªåˆ†ã®ã‚„ã‚ŠãŸã„ã“ã¨ã‚’ã‚„ã£ã¦ãã¾ã—ãŸã€‚
          %p å…·ä½“çš„ã«ã‚„ã£ã¦ã„ãŸã“ã¨ã¯å‰¯æ¥­ã§ã‚¢ãƒ•ã‚£ãƒªã€è»¢å£²ã€fxã‚’ã‚„ã£ã¦ã„ã¾ã—ãŸã€‚
          %br
          %p ã—ã‹ã—ã€ç›®å…ˆã®ãŠé‡‘ã®ã“ã¨ã°ã‹ã‚Šè¿½ã„ã‹ã‘ã¦ã„ã¦å®Ÿéš›ã«äººã®å½¹ã«ç«‹ã¡ãŸã„ãªã©æ€ã„ã‚‚ã›ãšã€
          ã©ã†ã§ã‚‚ã„ã„ã‚¯ã‚½è¨˜äº‹ã‚’æ¯Žæ—¥æ›´æ–°ã—ã¦ã¯ã†ã¾ãè¡Œã‹ãšã€è»¢å£²ã‚‚å…¨ç„¶ã§ããšã«è¾žã‚ã€
          fxã‚‚ãƒ­ã‚¹ã‚«ãƒƒãƒˆã§4ä¸‡å††ã»ã©æº¶ã‹ã—ã¦çµ‚äº†ã€‚

        %i.fas.fa-angle-left.fa-4x.left1
      .page2
        .about-messe
          %p ãã®å¾Œã€ã€Œè‡ªåˆ†ãƒ€ãƒ¡ãƒ€ãƒ¡ã˜ã‚ƒã‚“...ã€ã¨ã‹ãªã‚Šçµ¶æœ›ã—ã€ãƒã‚¤ãƒˆã‚’ã‚„ã‚å®¶ã«1~2ãƒ¶æœˆé–“å¼•ãã“ã‚‚ã‚Šã«ã€‚
          %p ã§ã‚‚ä½•ã‹ã—ã‚‰è¡Œå‹•ã—ãªã„ã¨ä½•ã‚‚ç”Ÿã¾ã‚Œãªã„!!ã¨æ€ã„ã€ãƒãƒ£ãƒªã§15åˆ†ã»ã©ã‹ã‘ã¦å¤§ããªæœ¬å±‹ã•ã‚“ã«è¡Œãã€ãªã‘ãªã—ã®ãŠé‡‘2ä¸‡5åƒå††åˆ†ã®æœ¬ã‚’è³¼å…¥ã—ã¾ã—ãŸã€‚
          ãã—ã¦å®¶ã«å¼•ãã“ã‚‚ã‚Šæœã‹ã‚‰æ™©ã¾ã§ã¨ã«ã‹ãæœ¬ã‚’èª­ã‚€ç”Ÿæ´»ã‚’é€ã‚Šã¾ã—ãŸã€‚
          =image_tag 'books.jpeg',size: '300x200',class: 'img'
          %br
          %p æœ¬ã‚’èª­ã‚“ã§ã„ãã†ã¡ã«ã€è€ƒãˆæ–¹ãŒãƒã‚¸ãƒ†ã‚£ãƒ–ã«ãªã‚Šã€ã‚ã‚‰ã‚†ã‚‹ã¨ã“ã‚ã‹ã‚‰ã‚„ã‚‹æ°—ãŒæº€ã¡æº¢ã‚Œã¦ãã¾ã—ãŸã€‚(è²·ã£ãŸæœ¬ã®ä¸­ã§ä¸€ç•ªã®ãŠæ°—ã«å…¥ã‚Šã¯ã€Œå«Œã‚ã‚Œã‚‹å‹‡æ°—ã€)

        %i.fas.fa-angle-right.fa-4x.right2
    .content-2.mokujihe
      .page1
        .about-messe
          %p æœ¬ã‹ã‚‰ã¯æœ¬å½“ã«ãŸãã•ã‚“ã®ã“ã¨ã‚’å­¦ã°ã•ã›ã¦ã„ãŸã ãã¾ã—ãŸã€‚
          %p ãƒ»PDCAã®å¤§åˆ‡ã•ã€‚å€‹äººã§ã‚‚å›£ä½“ã§ã‚‚é€šç”¨ã™ã‚‹PDCAã€‚ä¸­ã§ã‚‚ä¸€ç•ªå¤§äº‹ã‹ãªã¨æ€ã£ã¦ã„ã‚‹ã®ã¯Cã®æ¤œè¨¼ã€‚
          %p ãƒ»ä¾å­˜ã§ã¯ãªãè‡ªç«‹ã€‚ä¸»ä½“çš„ã§ã‚ã‚‹ã“ã¨ã®å¤§åˆ‡ã•ã€‚
          %p ãƒ»åŠ¹çŽ‡ã‚ˆã‚Šã‚‚ã¾ãšã¯è¡Œå‹•ã€ç¶™ç¶šã€é‡ã€‚
          %p ãƒ»äººãŒå¹¸ã›ã‚’æ„Ÿã˜ã‚‹ã®ã¯ä»–è€…ã«è²¢çŒ®ã§ããŸã¨æ€ãˆãŸæ™‚ã€‚
          %p ãƒ»WinWinã®é–¢ä¿‚ã‚’ç¯‰ãã€‚
          %p ãƒ»èª²é¡Œã®åˆ†é›¢
          %p ãƒ»äººã¯å¼·ã„ç›®æ¨™ãŒã‚ã‚Œã°ãƒŠãƒ“ã®ã‚ˆã†ã«ç›®çš„åœ°ã¾ã§ã„ãã“ã¨ãŒã§ãã‚‹ã€‚
          %p ãƒ»æ–°ã—ã„ã“ã¨ã«æŒ‘æˆ¦ã™ã‚‹ãŸã³ã«æˆé•·ã§ãã‚‹ã€‚
          %p ãªã©ãªã©ã§ã™ã€‚
          %br
          %p (å®šæœŸçš„ã«æœ¬å±‹ã«ç«‹ã¡å¯„ã£ã¦æ°—ã«ãªã‚‹æœ¬ã¯ã¤ã„ã¤ã„è²·ã£ã¦ã—ã¾ã„ã¾ã™ã€‚ãŸã è²·ã£ãŸã ã‘ã§èª­ã‚“ã§ãªã„æœ¬ã‚‚çµæ§‹ã‚ã‚‹ã®ã§æ¶ˆåŒ–ã™ã‚‹å‰ã«è²·ã†ã®ã¯ä»Šå¾Œæ°—ã‚’ã¤ã‘ã¦ã„ã“ã†ã‹ãªã¨æ€ã£ã¦ã„ã¾ã™ã€‚ç¬‘)
          %br 
          %br
          %p ãã‚Œã‹ã‚‰å¼•è¶Šã—ã®ãƒã‚¤ãƒˆã‚’2ãƒ¶æœˆã‚„ã‚Š50ä¸‡å††è²¯ã‚ã€ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã‚¹ã‚¯ãƒ¼ãƒ«ã«é€šã†ã“ã¨ã«ãªã‚Šã¾ã—ãŸã€‚

        %i.fas.fa-angle-left.fa-4x.left2
      .page2
        .about-messe
          %p ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã‚’ã‚„ã‚ã†ã¨æ€ã£ãŸãã£ã‹ã‘ã¯ã€ã‚¢ãƒ•ã‚£ãƒªã‚¨ã‚¤ãƒˆã‚’ã‚„ã£ã¦ã„ãŸæ™‚ã«html,cssã‚’ã»ã‚“ã®å°‘ã—ã ã‘è§¦ã£ãŸã“ã¨ãŒã‚ã£ã¦çŸ¥ã£ã¦ã„ãŸã‹ã‚‰ã€‚
          %p æ™‚ä»£ã‚’å…ˆé§†ã‘ã¦ã„ãä¼æ¥­ã¯ã©ã“ã‚‚ã‚¤ãƒ³ã‚¿ãƒ¼ãƒãƒƒãƒˆé–¢é€£ã§ã€ç‰¹ã«ä»Šå¾Œã¯äººå·¥çŸ¥èƒ½ã‚„ãƒ­ãƒœãƒƒãƒˆå·¥å­¦ãŒç››ã‚Šä¸ŠãŒã£ã¦ã„ãã ã‚ã†ã¨æ„Ÿã˜ãŸã‹ã‚‰ã€‚
          %p ã‚¨ãƒ³ã‚¸ãƒ‹ã‚¢ãŒä¸è¶³ã—ã¦ã„ã‚‹ã‹ã¤ä»•äº‹ã®å˜ä¾¡ã‚‚å¹³å‡çš„ã«é«˜ã„ã¨æ„Ÿã˜ãŸã®ã§ã€ä»•äº‹ã«ã—ã¦é‡‘éŠ­çš„ç²¾ç¥žçš„ãªä½™è£•ã‚’æŒã¡ãŸã„ã¨æ€ã£ãŸã‹ã‚‰ã€‚
          %br
          %p ä¸»ãªç†ç”±ã¯ã“ã®3ã¤ã§ã™ã€‚
          %br
          %p åˆã‚ã¯ç‹¬å­¦ã§ã‚„ã£ã¦ã¿ã‚ˆã†ã¨æ€ã„ã€ãƒ‰ãƒƒãƒˆã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«ã‚„æœ¬ã§Rubyã®å‹‰å¼·ã‚’ã¯ã˜ã‚ã¾ã—ãŸã€‚
          %p ã‚¿ãƒ¼ãƒŸãƒŠãƒ«ã«hello worldã‚’å‡ºåŠ›ã•ã›ãŸã‚Šã€å››å‰‡æ¼”ç®—ã‚’ä½¿ã£ã¦è¨ˆç®—ã—ã¦ã¿ãŸã‚Šã—ã¾ã—ãŸãŒã€ã€ã€
          %p ã“ã‚ŒãŒã©ã†ä»•äº‹ã«ãªã‚‹ã®ã‹å…¨ãã‚ã‹ã‚Šã¾ã›ã‚“ã§ã—ãŸã€‚
          %p ã©ã†ã„ã†ãƒ«ãƒ¼ãƒˆã§å‹‰å¼·ã—ã¦ã„ã‘ã°ã„ã„ã®ã‹ã€ä½•ã‚’å‹‰å¼·ã—ã¦ã„ã‘ã°ã„ã„ã®ã‹ãŒå…¨ãã‚ã‹ã‚‰ãšã«å‹‰å¼·ã—ã¦ã„ã¦ã¨ã¦ã‚‚ææ€–ã‚’æ„Ÿã˜ã¾ã—ãŸã€‚
          %p ã“ã‚“ãªã‚“ã˜ã‚ƒã„ã¤ã¾ã§ã‚‚ãŸã£ã¦ã‚‚ä»•äº‹ã«ãªã‚‰ã‚“!ï¼ãŠé‡‘ã‚ˆã‚Šã‚‚æ™‚é–“ã®æ–¹ãŒå¤§åˆ‡!!
          %p ãã†æ€ã„ã€çŸ­æœŸçš„ã«æœ€çŸ­ãƒ«ãƒ¼ãƒˆã§å­¦ã¶ã“ã¨ãŒã§ãã‚‹ã¨æ„Ÿã˜ãŸãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã‚¹ã‚¯ãƒ¼ãƒ«ã«é€šã†ã“ã¨ã‚’æ±ºæ„ã—ã¾ã—ãŸã€‚

        %i.fas.fa-angle-right.fa-4x.right3
    .content-3.mokujihe
      .page1
        .about-messe
          %p ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã‚¹ã‚¯ãƒ¼ãƒ«ã§ã¯1æ—¥å¹³å‡9æ™‚é–“ãã‚‰ã„å‹‰å¼·ã—ã¦ã„ã¾ã—ãŸã€‚
          %p åˆã‚ã¯å…¨ãã‚ã‹ã‚‰ãªã‹ã£ãŸã®ã§ã²ãŸã™ã‚‰ã«æ–°ã—ã„ã“ã¨ã‚’å¸åŽã—ã¦ã„ãã¾ã—ãŸã€‚
          %p ã‚¹ã‚¯ãƒ¼ãƒ«ã®ã‚«ãƒªã‚­ãƒ¥ãƒ©ãƒ ã¯çµæ§‹ã‚­ãƒ„ã‚­ãƒ„ã§1æ—¥ã‚‚ã‚µãƒœã‚‹ã“ã¨ã¯ã§ãã¾ã›ã‚“ã€‚
          %br
          %p çµæ§‹ãŠé«˜ã„å—è¬›è²»ç”¨ã€ç¶ºéº—ã§è½ã¡ç€ãæ•™å®¤ã€ã‚­ãƒ„ã‚­ãƒ„ãªã‚«ãƒªã‚­ãƒ¥ãƒ©ãƒ ã€ã“ã“ã§é ‘å¼µã‚“ãªãã‚ƒã„ã¤é ‘å¼µã‚‹ã‚“ã ã¨ã„ã†å¿ƒã®è‘›è—¤ã€‚
          %p ãã‚Œã‚‰ãŒä½œç”¨ã—ã€æœ€é«˜ãªå‹‰å¼·ç’°å¢ƒãŒæ•´ã£ã¦ã„ã¾ã—ãŸã€‚ãã—ã¦å®Ÿéš›ã«ã¨ã¦ã‚‚å‹‰å¼·ã«é›†ä¸­ã™ã‚‹ã“ã¨ãŒã§ãã¾ã—ãŸã€‚
          %br 
          %p å€‹äººã‚¢ãƒ—ãƒªã‚’ä½œã£ãŸã‚Šã€ãƒãƒ¼ãƒ ã§ãƒ¡ãƒ«ã‚«ãƒªã‚’ä½œã£ãŸã‚Šã—ã¦ã€æŠ€è¡“ã‚‚è‡ªèº«ã‚‚ã©ã‚“ã©ã‚“ã¤ã‘ã‚‹ã“ã¨ãŒã§ãã¾ã—ãŸã€‚
          %p æ¯Žæ—¥è¡Œã†çž‘æƒ³ã‚„ã€ã‚¢ã‚¦ãƒˆãƒ—ãƒƒãƒˆã®æ™‚é–“ã€ä¸å¯§ã«æ•™ãˆã¦ãã‚Œã‚‹ãƒ¡ãƒ³ã‚¿ãƒ¼ã•ã‚“ã‚‚æœ€é«˜ã«åŠ¹æžœçš„ã§ã—ãŸã€‚
          =image_tag 'kyousitu.jpg',size: '300x150'

        %i.fas.fa-angle-left.fa-4x.left3
      .page2
        .about-messe
          %p å‘¨ã‚Šã«ã‚‚æµã¾ã‚Œã€é«˜ã‚åˆãˆã‚‹ä»²é–“ã‚„è¦ªèº«ã«æŽ¥ã—ã¦ãã‚Œã‚‹ãƒ©ã‚¤ãƒ•ã‚³ãƒ¼ãƒã®æ–¹ã®ãŠã‹ã’ã§ã•ã‚‰ã«ã‚„ã‚‹æ°—ã«ç«ãŒã¤ãã¾ã—ãŸã€‚
          %p ãã—ã¦2ãƒ¶æœˆå‰ã«ã§ããªã‹ã£ãŸã“ã¨ãŒãŸãã•ã‚“ã§ãã‚‹ã‚ˆã†ã«ãªã‚Šç„¡äº‹å’æ¥­ã„ãŸã—ã¾ã—ãŸã€‚ðŸ˜„
          =image_tag 'member.jpg', size: '300x200'
          %p (æ°´è‰²ã®æœãŒåƒ•ã§ã™)
          %br
          %br
          %p ãã—ã¦ä»Šã«è‡³ã‚Šã¾ã™ã€‚
          %br
          %p è¿‘ã„å°†æ¥ã€ãŸãã•ã‚“ã®äººã«è²¢çŒ®ã§ãã‚‹ä½•ã‹å¤§ããªã“ã¨ã‚’ã‚„ã‚ŠãŸã„ã§ã™ã€‚

        %i.fas.fa-angle-right.fa-4x.right4

    .content-4.mokujihe
      .page1
        .about-messe
          %h2 é–¢é€£æƒ…å ±
          %p æºå¸¯é›»è©±
          %p 080-5473-0768
          %br
          %p ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹
          %p atsuki.yukawa1100@gmail.com
          %br
          %p github
          =link_to 'https://github.com/atsuki1100', 'https://github.com/atsuki1100', style: 'display: block;'
          %br
          %p Twitter
          =link_to 'https://twitter.com/atuki_freelance', 'https://twitter.com/atuki_freelance', style: 'display: block;'
          %br
          %p ãƒ–ãƒ­ã‚°
          =link_to 'https://atuki1100.hatenablog.com/archive/2019', 'https://atuki1100.hatenablog.com/archive/2019', style: 'display: block;'
          %br Qiita
          =link_to 'https://qiita.com/atuki_freelance', 'https://qiita.com/atuki_freelance', style: 'display: block;'

        %i.fas.fa-angle-left.fa-4x.left4
      .page2
        .about-messe
          %h2 ã‚¹ã‚­ãƒ«
          %canvas#myChart{:height => "400", :width => "400"}
          :javascript
            draw_graph();

        %i.fas.fa-angle-right.fa-4x.right6

    -# .content-5.mokujihe
    -#   .page1
    -#     .about-messe
    -#     %i.fas.fa-angle-left.fa-4x.left5
    -#   .page2
    -#     .about-messe
    -#     %i.fas.fa-angle-right.fa-4x.right6
      
    .afterword.mokujihe
      .atogaki
        %i.fas.fa-angle-left.fa-4x.left6
      .bookcover.about
        .about_text thank you!