.contents.clearfix
  .contents__left
    .myname
      Atsuki Yukawa
    .introduction 
      %p 湯川 淳輝と申します。
      %br
      %p このサイトはポートフォリオです。
    .conect
      ツイッター
  .contents__right
    .works
    .about