.contents.clearfix
  .contents__left
    .myname
      Atsuki Yukawa
    .introduction 
      %p 湯川 淳輝と申します。
      %br
      %p このサイトはポートフォリオです。
  .contents__right
    =link_to works_port_index_path, class: 'animsition-link works-anim' do
      .works.boin_works.animsition
        .works__text works
        .works__auther 湯川淳輝 著
    =link_to about_port_index_path, class: 'animsition-link about-anim' do
      .about.boin_about.animsition
        .about__text about
        .about__auther 湯川淳輝 著