.books.clearfix
  .book
    .table-content
      .bookcover.works
      .mokuji
        %h2 ~~もくじ~~
        %p メルカリコピーサイト(チーム開発)
        %p 天の声(質問投稿サイト)
        %p あとがき
        %i.fas.fa-angle-right.fa-4x.right1

    .content-1
      .page1
        %h2 メルカリコピーサイト(チーム開発)
        %p image
        %i.fas.fa-angle-left.fa-4x.left1
      .page2
        %p 楽しかったし、勉強になったよん。
        %i.fas.fa-angle-right.fa-4x.right2
    .content-2
      .page1
        %h2 天の声（質問投稿サイト)
        %p image
        %i.fas.fa-angle-left.fa-4x.left2
      .page2
        %p 初めて作った個人制作物!
        %br
        %p 思い出が詰まっています。
        %br
        %p railsがちょっとずつ分かってきたのもこのアプリを作ってる時ぐらいから。
        %i.fas.fa-angle-right.fa-4x.right3
    .afterword
      .atogaki
        %p あとがき
        %i.fas.fa-angle-left.fa-4x.left3
      .bookcover.works
